body {
    margin: auto;
}

.banner {
    margin-top:-92px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    background: url("../images/banner.jpg");
}

.bannername {
    text-align: center;
    font-variant: small-caps;
    font-size: 135px;
    text-shadow: 2px 2px red;
    padding-top: 180px;
}

nav {
    display: block;
    background-color: blue;
}

nav ul {
    position: relative;
    list-style: none;
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

nav li {
    font-weight: bolder;
    display: inline-block;
    background-color: lightgray;
    padding: 5px;
    margin: 8px 20px 10px 20px;
    border-radius: 5px;
}

nav li:hover {
    background-color: lightgreen;
}

main {
    background-color: lightskyblue;
}

main h3 {
    text-align: center;
}

footer {
    background-color: yellow;
    vertical-align: bottom;
}

footer h3 {
    text-align: center;
}